@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&family=Rubik+80s+Fade&display=swap');

/* font-family: 'Roboto', sans-serif;
font-family: 'Rubik 80s Fade', cursive; */

:root {
    --primaryColor: #00e5e5;
    --hover: #00b2b2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #000;
}

/* Menu */
.main-menu {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
}

.main-menu a {
    color: var(--primaryColor);
    font-size: 2rem;
    margin: 0 2rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    opacity: 0;
    visibility: hidden;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.main-menu a:hover {
    color: var(--hover);
}

.main-menu a:nth-child(1) {
    animation-name: showMenu;
    animation-delay: 5s;
}

.main-menu a:nth-child(2) {
    animation-name: showMenu;
    animation-delay: 5.5s;
}

.main-menu a:nth-child(3) {
    animation-name: showMenu;
    animation-delay: 6s;
}

.main-menu a:nth-child(4) {
    animation-name: showMenu;
    animation-delay: 6.5s;
}

.menu {
    position: fixed;
    top: .5rem;
    right: .5rem;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.menu a {
    color: var(--primaryColor);
    font-size: 2rem;
    margin-bottom: 2rem;
    transition: color .3s;
}

.menu a:hover {
    color: var(--hover);
}
/* End of Menu */

.myimg {
    width: 40rem;
    position: absolute;
    top: -50rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    animation: showMyimg 2s 4s forwards;
}

.message {
    font-family: 'Roboto', sans-serif;
    color: var(--primaryColor);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    white-space: nowrap;
    animation-duration: 2s;
}

.message:nth-child(1) {
    animation-name: showMessage;
    animation-delay: 0s;
}

.message:nth-child(2) {
    animation-name: showMessage;
    animation-delay: 2s;
}

.message:nth-child(3) {
    animation-name: showLastMessage;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    white-space: unset;
    text-align: center;
    line-height: 3rem;
}

.projects-btn {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primaryColor);
    color: #222;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
    padding: .2rem 1rem;
    font-weight: bold;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
    animation: show 3s 20s forwards;
}

.projects-btn::before {
    content: "";
    width: .3rem;
    height: 100%;
    background-color: rgb(26, 93, 95);
    position: absolute;
    top: .0rem;
    left: -.3rem;
    transform: skewY(45deg);
    transform-origin: right;
}

.projects-btn::after {
    content: "";
    width: 100%;
    height: .3rem;
    background-color: rgb(39, 174, 179);
    position: absolute;
    top: -.3rem;
    left: 0;
    transform: skewX(45deg);
    transform-origin: bottom;
}

.projects-btn:hover {
    background-color: var(--hover);
}

.title {
    position: fixed;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    animation: show 3s 5s forwards;
}

.title div {
    font-family: 'Rubik 80s Fade', cursive;
    font-size: 6rem;
    color: var(--primaryColor);
}

/* Cube */
.cube-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: hideCube 3s 5s forwards;
    z-index: 1;
}



.cube {
    width: 30rem;
    height: 30rem;
    position: relative;
    transform-style: preserve-3d;
    animation: moveCube 5s linear infinite;
}

.cube div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cube div span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(black, var(--primaryColor));
    transform: rotateY(calc(90deg * var(--i))) translateZ(15rem);
}

.cube .top {
    position: absolute;
    top: 0;
    left: 0;
    width: 30rem;
    height: 30rem;
    background-color: #222;
    transform: rotateX(90deg) translateZ(15rem);
}

.cube .top::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 30rem;
    height: 30rem;
    background-color: var(--primaryColor);
    transform: translateZ(-40rem);
    filter: blur(5rem);
}

/* Animations */
@keyframes showMenu {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes showMyimg {
    50% {
       opacity: .5; 
    }
    100% {
        top: 0;
        opacity: 1;
        visibility: visible;
    }
}

@keyframes showMessage {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: visible;
    }
}

@keyframes showLastMessage {
    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes hide {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes hideCube {
    100% {
     opacity: 0;
     display: none;
    }
 }

 @keyframes moveCube {
    0% { transform: rotateX(-30deg) rotateY(0deg); }
    100% { transform: rotateX(-30deg) rotateY(360deg); }
}

/* ScrollBar */
::-webkit-scrollbar {
    width: 0;
}

/* Responsive */
@media screen and (max-width: 1200px) { 
    .title div {
        font-size: 5rem;
    }

    .cube {
        width: 20rem;
        height: 20rem;
    }

    .cube div span {
        transform: rotateY(calc(90deg * var(--i))) translateZ(10rem);
    }

    .cube .top {
        width: 20rem;
        height: 20rem;
        transform: rotateX(90deg) translateZ(10rem);
    }

    .cube .top::before {
        width: 20rem;
        height: 20rem;
        transform: translateZ(-30rem);
    }
}

@media screen and (max-width: 1050px) { 
    .title div {
        font-size: 4.5rem;
    }
}


@media screen and (max-width: 900px) { 
    .message {
        font-size: 3rem;
    }

    .myimg {
        width: 40rem;
    }

    .projects-btn {
        font-size: 1.3rem;
    }

    .title {
        left: 2%;
    }

    .title div {
        font-size: 4rem;
    }
}

@media screen and (max-width: 750px) { 
    .cube {
        width: 15rem;
        height: 15rem;
    }

    .cube div span {
        transform: rotateY(calc(90deg * var(--i))) translateZ(7.5rem);
    }

    .cube .top {
        width: 15rem;
        height: 15rem;
        transform: rotateX(90deg) translateZ(7.5rem);
    }

    .cube .top::before {
        width: 15rem;
        height: 15rem;
        transform: translateZ(-25rem);
    }
}

@media screen and (max-width: 650px) { 
    .title {
        display: none;
    }
}

@media screen and (max-width: 600px) { 
    .message {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 500px) { 
    .menu a {
        font-size: 1.8rem;
    }

    .myimg {
        width: 30rem;
    }

    .projects-btn {
        top: 55%;
        font-size: 1.2rem;
    }

    .message {
        top: 50%;
        font-family: 'Roboto', sans-serif;
        font-size: 1.6rem;
    }

    .message:nth-child(3) {
        animation-name: showLastMessage;
        animation-delay: 4s;
        animation-fill-mode: forwards;
        white-space: unset;
        text-align: center;
        line-height: 2rem;
        font-size: 1.6rem;
        top: 60%;
        width: 100%;
        padding: 0 2rem;
    }

    .main-menu {
        bottom: 15%;
        left: 50%;
        display: flex;
    }
    
    .main-menu a {
        font-size: 1.6rem;
        text-wrap: nowrap;
        margin: 0 0.4rem;
    }
}

@media screen and (max-width: 400px) { 
    .menu a {
        font-size: 1.6rem;
    }

    .myimg {
        width: 28rem;
    }

    .projects-btn {
        font-size: 1rem;
    }

    .projects-btn::before {
        width: .3rem;
        left: -.3rem;
    }

    .projects-btn::after {
        height: .3rem;
        top: -.3rem;
    }
    
}
/* End of Responsive */
